
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.steps-list {
    padding: 20px;
    padding-left: 40px;
    padding-top: 0px;
    padding-inline-end: 500px;
}

.steps {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: justify;
    text-justify: inter-word;
}

